<%- include('./includes/head.ejs') %>

<%- include('./includes/navigation.ejs') %>
<h1 class="text-center box ">Bootstrap 5 Basics</h1>

<div class="container">

</div>


<%- include('./includes/end.ejs') %>